html {
    color: #cad3d6;
    min-height: 100%;
    background: -webkit-gradient(linear , 0 100, 0 98%, from(#163346), to(#000309) );
    background-color: #123;
    padding: 0;
    margin: 0 100px 50px 100px;
}
body {
    max-width: 1200px;
    position: relative;
    margin: 40px auto 15px;
    font: 100 14px/1.5 "Trebuchet MS", Helvetica, SimSun, sans-serif;
}
p, ul, li, table {
    margin: 0;
    padding: 0;
}

a {
    color: #0df;
    text-decoration: none;
    padding-bottom: 1px;
}
a:hover {
    color: #5ef;
    padding-bottom: 0;
    border-bottom: 1px solid #468;
}
a:visited {
    color: #6ac;
}

input:focus, a:focus, button:focus {
    box-shadow: 0 0 3px #cb0;
    -webkit-box-shadow: 0 0 3px #cb0;
    -moz-box-shadow: 0 0 3px #cb0;
}

h1, h2, h3, h4, h5, h6 { 
    font-family: "Microsoft Yahei", sans-serif;
    margin: 0;
    padding: 0.15em 0;
}
h1 {
    font-size: 1.7em;
    padding-bottom: 0.1em;
    color: #f37;
    margin-bottom: 0.5em;
    margin-top: 0;
}
h2 {
    font-size: 1.52em;
    color: #fd5;
    margin-top: 1em;

}
h3 {
    font-size: 1.22em;
    color: #df5;
    width: 80%;
    margin-top: 0.9em;
    margin-bottom: 0.4em;
}
h4 {
    font-size: 1.15em;
    color: #6d9;
    margin-top: 0.8em;

}
h5 {
    font-size: 1.05em;
    color: #e3e3f3;

}
h6 {
    font-size: 1.0em;

}
p, pre, blockquote, table, ul, ol, dl {
    margin: 0.5em 0 1em;
}

ul ul, ul ol, ol ol, ol ul {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

li {
    margin: 0.3em auto;
    list-style-position: inside;
}

ol, ul {
    margin-left: 1em;
    padding-left: 0.5em;
}

dt {
    font-weight: bold;
}
img {
    border: none;

}

code {
    padding: 2px 4px;
    color: #cae3b6;
    font-family: 'Lucida Console', 'Courier New', Courier, monospace;
}

blockquote, pre {
    padding: 0.8em;
    background: #39213E;
    background: rgba(255,30,120,0.12);
    border: 1px solid #614;
    position: relative;
    z-index: 2;
    font-family: 'Lucida Console', 'Courier New', Courier, monospace;
    -webkit-transition: all 0.45s linear;
    -moz-transition: all 0.45s linear;
}

blockquote {
    background: rgba(255,30,120,0.1);
    border: 1px solid rgba(230,0,20,0.2);
}

blockquote:hover, pre:hover {
    color: #eee;
    background: rgba(255,30,120,0.25);
}

pre {
    border-left: 1px solid #c26;
    margin-left: 1em;
    padding: 0.4em 0.8em;
}

table {
    border-collapse: collapse;
}

.syntaxhighlighter table {
    width: 100%;
}
.syntaxhighlighter td.gutter {
    width: 1em;
}
.syntaxhighlighter .gutter .line {
    padding-right: 0.3em;
}

th, td {
    border: 1px solid #256;
    padding: 0.3em 0.5em;
}

th {
    background-color: #f0f0f0;
}

hr {
    border: none;
    border-top: 3px double #035;
    width: 100%;
    margin: 20px 0;
}

del {
    text-decoration: line-through;
    opacity: 0.6;
}

strong, b {
    font-weight: 600;
    color: #eef;
}

em, i {
    font-family: Candara, "Microsoft Yahei", sans-serif;
    font-style: italic;
}

ul.nav {
	margin-left: 0;
	list-style: none;
	padding-left: 0;
	padding-top: 6px;
	padding-bottom: 15px;
	border-bottom: 1px dashed #000;
	width: 30%;
	float: left;
}

ul.nav li {float: left;}

ul.nav a  {
	width: 12em;
	border: 1px dashed #000;
	border-bottom: none;
	padding: 5px 15px 5px 15px;
	margin-right: 5px;
	background-color: #EAEAEA;
	text-decoration: none;
	color: #333;
	display: left;
	text-align: center;
}

.footer {
	text-align: center;
}

.clear {
	clear: both;
}
